.DS_Store
RisQFLan/.metadata/
RisQFLan/atree.core/bin/
RisQFLan/atree.core/MultiVeStA_OUTPUT/
RisQFLan/atree.xtext.ide/bin/
RisQFLan/atree.xtext.ide/src-gen/
RisQFLan/atree.xtext.ide/xtend-gen/
RisQFLan/atree.xtext.tests/bin/
RisQFLan/atree.xtext.tests/xtend-gen/
RisQFLan/atree.xtext.ui.tests/bin/
RisQFLan/atree.xtext.ui.tests/src-gen/
RisQFLan/atree.xtext.ui.tests/xtend-gen/
RisQFLan/atree.xtext.ui/bin/
RisQFLan/atree.xtext.ui/src-gen/
RisQFLan/atree.xtext.ui/xtend-gen/
RisQFLan/atree.xtext/bin/
RisQFLan/atree.xtext/src-gen/
RisQFLan/atree.xtext/xtend-gen/
RisQFLan/avgruntimes/
RisQFLan/digraph-parser/
RisQFLan/piero/
RisQFLan/skeletonsimulator/
RisQFLan/skeletonsimulator.zip
RisQFLan/multivestaPluginProject/
RisQFLan/testmultivestacarma2/
RisQFLan/testcompilation/
RisQFLan/testcomp/
RisQFLan/graphvizrisqflanwrapper/
.DS_Store
RisQFLan/atree.product.linux64/.settings/org.eclipse.jdt.core.prefs
RisQFLan/atree.product.macosx/.settings/org.eclipse.jdt.core.prefs
RisQFLan/atree.product.win64/.settings/org.eclipse.jdt.core.prefs
RisQFLan/atree.product/.settings/org.eclipse.jdt.core.prefs
RisQFLan/distr/macosx/logs.zip
RisQFLan/distr/macosx/macosx.cocoa.x86_64/
RisQFLan/distr/macosx/RisQFLan.app
RisQFLan/distr/macosx/RisQFLan.dmg
RisQFLan/distr/RisQFLan.app
RisQFLan/distr/RisQFLan.dmg
RisQFLan/distr/linux/logs.zip
RisQFLan/distr/linux/linux.gtk.x86_64/
RisQFLan/distr/win/logs.zip
RisQFLan/distr/win/win32.win32.x86_64/
RisQFLan/atree.core/javaCompiler.core.jar.args
RisQFLan/atree.core/temp.folder/core.jar.bin.log
RisQFLan/atree.product.macosx/javaCompiler...args
RisQFLan/atree.core/.settings/org.eclipse.core.resources.prefs
RisQFLan/atree.xtext/.settings/org.eclipse.core.resources.prefs
.DS_Store
runtime-RisQFLan.product/.metadata/.lock
runtime-RisQFLan.product/.metadata/.log
.DS_Store
RisQFLan/atree.core/ciao.csv
RisQFLan/atree.xtext/model/generated/Bbt.ecore
RisQFLan/atree.xtext/model/generated/Bbt.genmodel
runtime-RisQFLan.product/.metadata/.plugins/atree.xtext.ui/dialog_settings.xml
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
runtime-RisQFLan.product/.metadata/.plugins/org.eclipse.xtext.builder/builder.state
.DS_Store
RisQFLan/matheval/bin/matheval/MathEval$ArgParser.class
RisQFLan/matheval/bin/matheval/MathEval$DefaultImpl.class
RisQFLan/matheval/bin/matheval/MathEval$FunctionHandler.class
RisQFLan/matheval/bin/matheval/MathEval$Operator.class
RisQFLan/matheval/bin/matheval/MathEval$OperatorHandler.class
RisQFLan/matheval/bin/matheval/MathEval.class
RisQFLan/matheval/bin/matheval/Test.class
RisQFLan/matheval/.settings/org.eclipse.jdt.core.prefs
