.DS_Store
RisQFLan/.metadata/
RisQFLan/atree.core/bin/
RisQFLan/atree.core/MultiVeStA_OUTPUT/
RisQFLan/atree.xtext.ide/bin/
RisQFLan/atree.xtext.ide/src-gen/
RisQFLan/atree.xtext.ide/xtend-gen/
RisQFLan/atree.xtext.tests/bin/
RisQFLan/atree.xtext.tests/xtend-gen/
RisQFLan/atree.xtext.ui.tests/bin/
RisQFLan/atree.xtext.ui.tests/src-gen/
RisQFLan/atree.xtext.ui.tests/xtend-gen/
RisQFLan/atree.xtext.ui/bin/
RisQFLan/atree.xtext.ui/src-gen/
RisQFLan/atree.xtext.ui/xtend-gen/
RisQFLan/atree.xtext/bin/
RisQFLan/atree.xtext/src-gen/
RisQFLan/atree.xtext/xtend-gen/
RisQFLan/avgruntimes/
RisQFLan/digraph-parser/
RisQFLan/piero/
RisQFLan/skeletonsimulator/
RisQFLan/skeletonsimulator.zip
RisQFLan/multivestaPluginProject/
RisQFLan/testmultivestacarma2/
RisQFLan/testcompilation/
RisQFLan/testcomp/
RisQFLan/graphvizrisqflanwrapper/
.DS_Store
RisQFLan/atree.product.linux64/.settings/org.eclipse.jdt.core.prefs
RisQFLan/atree.product.macosx/.settings/org.eclipse.jdt.core.prefs
RisQFLan/atree.product.win64/.settings/org.eclipse.jdt.core.prefs
RisQFLan/atree.product/.settings/org.eclipse.jdt.core.prefs
RisQFLan/distr/macosx/logs.zip
RisQFLan/distr/macosx/macosx.cocoa.x86_64/
RisQFLan/distr/macosx/RisQFLan.app
RisQFLan/distr/macosx/RisQFLan.dmg
RisQFLan/distr/RisQFLan.app
RisQFLan/distr/RisQFLan.dmg
RisQFLan/distr/linux/logs.zip
RisQFLan/distr/linux/linux.gtk.x86_64/
RisQFLan/atree.core/javaCompiler.core.jar.args
RisQFLan/atree.core/temp.folder/core.jar.bin.log
RisQFLan/atree.product.macosx/javaCompiler...args
