<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="RisQFLan">
         <property
               name="appName"
               value="RisQFLan">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/atree.product/logo/logo250.gif">
         </property>
         <property
               name="aboutText"
               value="RisQFLan: A Software Engineering Approach to Quantitative Security Risk Modeling and Analysis using QFLan">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/atree.product/logo/logo16.gif,platform:/plugin/atree.product/logo/logo32.gif,platform:/plugin/atree.product/logo/logo48.gif,platform:/plugin/atree.product/logo/logo64.gif,platform:/plugin/atree.product/logo/logo128.gif,platform:/plugin/atree.product/logo/logo256.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
